.popup__input-error {
  color: #FF0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  display: block;
  position: absolute;
  visibility: hidden;
  margin-block-start: 5px;
  inset-block-start: 47px;
  z-index: 10;
}

.popup__input-error_visible {
  visibility: visible;
}